.app-layout {
  min-height: 100vh;
  background-color: #f0f2f5;
}

.app-content {
  background: black;
  padding: 24px;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.app-title {
  margin-bottom: 24px;
  text-align: center;
  color: #1890ff;
}